.hero-para{
    position: absolute;
    bottom: 143px;
    color: white;
    margin-left: 38px;
    width: 34%;
    padding: 0px 0px 0px 97px;
    font-size: 31px;
}
.hero-text{
    position: absolute;
    bottom: 68px;
    color: white;
    margin-left: 12px;
    width: 30%;
    text-align: center;
}
.hero-button{
    position: absolute;
    color: #eee8e8;
    background-color: red;
    font-size: 18px;
    padding: 5px 26px 5px 27px;
    bottom: 93px;
    border: 0;
    border-radius: 27px;
    left: 204px;
}
.search-container{
    width: 99%;
    height: 28vh;
   
    text-align: center;
    
    margin-top: 34px;
    margin-bottom: 8px;
}
.search-div{
    width: 99%;
}
.search-para{
    font-size: 41px;
    position: absolute;
    font-weight: 700;
    width: 30%;
    left: 35vw;
}
.textfeild{
    position: relative;
    width: 29%;
    top: 119px;
    height: 25px;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    background-color: #f1eded;
    padding: 4px 2px 4px 17px;
    margin-top: 20px;
}
.search-button{
    position: relative;
    color: #eee8e8;
    background-color: red;
    font-size: 18px;
    border: 0;
    top: 118px;
    left: 12px;
    border-radius: 23px;
    padding: 5px 26px 5px 27px;
}
.search-button:hover{
    background-color: rgb(236, 105, 105);
    cursor:pointer;
    color: rgb(255, 255, 255);
}
.src{
    background-color: green;
}

.card-container {
    display: flex;
    
    height: 40vh;
    width: 99%;
  }
  
  .card {
    display: flex;
    width: 11%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    margin: 25px 16px 6px 16px;
    height: 68%;
    padding: 4px 6px 4px 6px;
    
    background-color: #fff;
    border-radius: 8px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .card:hover {
    transform: translateY(-10px) scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  }
  
  .card:active {
    transform: translateY(-2px) scale(1.02); 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
#exercises{
    margin-top: 50px;
    padding: 20px;
    
}
#show{
    font-size: 5vh;
}
.exercises-container{
      
    flex-wrap: wrap;
    gap: 40px;
    width: 98vw;
    background:#f3f3f3;
    
    margin-top: 10px;
    
    display: flex;
}
.exercise-cart{
    padding-left: 94px;
}
.exercise-button-sec{
    display: flex;
    flex-wrap: wrap;
}
.exercise-button{
    background: #ffa9a9;
    font-size: 14px;
    margin: 0px 0px 20px 20px;
    padding: 5px 13px 5px 14px;
    border: none;
    border-radius: 20px;
    text-transform: capitalize;
}
.new{
    background:#d8d774;
   
}
.exercise-name{
    font-weight: bold;
    color: black;
    font-size: 22px;
    margin: 0px 2px 8px 11px;
    text-transform: capitalize;
}
.ex-detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:60px;

}
.img-para{
    font-weight: bold;
    font-size: 22px;
}
.img-para-2{
    margin-top: 12px;
    font-weight: 500;
}
.icon-detail{
    display: flex;
    direction: row;
    gap: 24px;
    align-items: center;

}
.ex-vid{
    margin-top: 200px;
    padding: 20px;

}
.ex-vid-para{
    font-weight: 900;
}
.ex-vid-videos{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap:110px;
}